flask
flask-cors
tensorflow
pandas
numpy
scikit-learn
matplotlib
openpyxl
folium
requests
python-dotenv
tqdm
# Web
flask
flask-cors

# Data & Excel
#pandas
#numpy
#openpyxl

# ML
#tensorflow
#scikit-learn
joblib

# Cartographie (optionnel)
folium
geopandas

# Utilitaires
requests
python-dotenv

# Progress bar & logging
tqdm
loguru

gunicorn
